.header {
  font-size: 32px;
  text-align: center;
  border: 1px solid black;
  width: 50vw;
  margin: 0 auto 5vh;
  padding: 3vh 0;
}

.message {
  font-size: 22px;
  text-align: center;
  width: 440px;
  position: absolute;
  left: calc(50% - 220px);
}

.pokemon-types {
  margin: 0 0 20px;
}

.pokemon-types select {
  padding: 5px 20px 5px 5px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.pokemon-list {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw;
  min-height: 84vh;
}

.pokemon-list_wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-list_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.pokemon-card {
  width: 30%;
  border: 1px solid grey;
  border-radius: 3px;
  text-align: center;
  padding: 7px 7px 14px;
  background-color: #ffffff;
  margin: 0 0 4vh;
  cursor: pointer;
  position: relative;
}

.pokemon-card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.ribbon {
  position: absolute;
  width: 90px;
}

.ribbon .ribbon-label {
  position: relative;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 0 .28571429rem .28571429rem 0;
  border-color: rgba(0,0,0,.15);
  left: -2.4em;
  margin-right: -1.2em;
  padding: .2em 1em;
  background-color: #00b5ad;
  color: #fff;
  border-color: #00827c;
}
.ribbon-label:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  background-color: transparent!important;
  border-style: solid;
  border-width: 0 1.2em 1.2em 0;
  border-color: transparent;
  border-right-color: inherit;
  width: 0;
  height: 0;
}

.pokemon-card_image {
  height: 60%;
  background-color: #ececec;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-card_image img {
  max-width: 100%;
}

.pokemon-card_info .name {
  text-transform: capitalize;
}

.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  background-color: #e8e8e8;
  background-image: none;
  padding: .4833em .833em;
  color: rgba(0,0,0,.6);
  text-transform: none;
  font-size: .78571429rem;
  font-weight: 500;
  letter-spacing: .05em;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}

.label.psychic {
  background-color: #db2828;
  border-color: #db2828;
  color: #fff;
}
.label.fire {
  background-color: #f2711c;
  border-color: #f2711c;
  color: #fff;
}
.label.electric {
  background-color: #fbbd08;
  border-color: #fbbd08;
  color: #fff;
}
.label.bug {
  background-color: #b5cc18;
  border-color: #b5cc18;
  color: #fff;
}
.label.grass {
  background-color: #21ba45;
  border-color: #21ba45;
  color: #fff;
}
.label.flying {
  background-color: #00b5ad;
  border-color: #00b5ad;
  color: #fff;
}
.label.water {
  background-color: #2185d0;
  border-color: #2185d0;
  color: #fff;
}
.label.ice {
  background-color: #6435c9;
  border-color: #6435c9;
  color: #fff;
}
.label.poison {
  background-color: #a333c8;
  border-color: #a333c8;
  color: #fff;
}
.label.fairy {
  background-color: #e03997;
  border-color: #e03997;
  color: #fff;
}
.label.ground {
  background-color: #a5673f;
  border-color: #a5673f;
  color: #fff;
}
.label.normal {
  background-color: #767676;
  border-color: #767676;
  color: #fff;
}
.label.fighting {
  background-color: #1b1c1d;
  border-color: #1b1c1d;
  color: #fff;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  position: relative;
  width: 49%;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background-color: #2185d0;
  color: #fff;
  text-shadow: none;
  background-image: none;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  -webkit-tap-highlight-color: transparent;
}
.buttons button:hover {
  background-color: #1e73b3;
}
.buttons button[disabled] {
  cursor: default;
  background: #e0e1e2 none;
}
.buttons button.loading {
  position: relative;
  cursor: default;
  text-shadow: none!important;
  color: transparent!important;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0s linear,opacity .1s ease;
  transition: all 0s linear,opacity .1s ease;
}
.buttons button.loading:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -.84285714em 0 0 -.84285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  border-radius: 500rem;
  border: .2em solid rgba(0,0,0,.15);
}
.buttons button.loading:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -.84285714em 0 0 -.84285714em;
  width: 1.28571429em;
  height: 1.28571429em;
  -webkit-animation: button-spin .6s linear;
  animation: button-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: .2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}

@keyframes button-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pokemon-details {
  width: 35%;
}

.pokemon-details_card {
  position: fixed;
  top: 22vh;
  width: 25vw;
  max-width: 23%;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}

.card_image-wrapper {
  height: 40%;
  background-color: #ececec;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_name {
  font-size: 24px;
  text-transform: capitalize;
  padding: 10px 0;
  margin: 0;
}

.card_table-wrapper {
  height: 45vh;
  overflow-y: auto;
}

.table-wrapper_table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

.table-wrapper_table th {
  padding: .5em .7em;
  border: 1px solid #7b7b7b;
}

.table-wrapper_table td {
  text-transform: capitalize;
  border: 1px solid #7b7b7b;
  padding: 4px 0;
}

@media (max-width: 833px) {
  .pokemon-list_wrapper { width: 50% }
  .pokemon-details { width: 40% }
  .pokemon-details_card { width: 30vw; max-width: none }
}

@media (max-width: 767px) {
  .pokemon-card { width: 40% }
  .ribbon { zoom: 0.8 }
  .table-wrapper_table tr { padding: 0 !important }
}

@media (max-width: 566px) {
  .header { height: 6vh;font-size: 24px;padding: 1vh 0;margin: 0 auto 2vh }
  .pokemon-list_wrapper { justify-content: center }
  .pokemon-card { width: 60% }
  .pokemon-details { width: 50% }
  .pokemon-details_card { width: 45vw }
  .card_name { font-size: 20px }
}
